@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
html,body{
    width: 800px;
    margin: 0 auto;
    font-family:'Rajdhani',sans-serif;
}
h1{
    color: rgb(223, 52, 86);
    margin-bottom: 0;
}
header>p{
    font-size: 12px;
    font-weight: bolder;
}
p, ol{
    font-weight:normal;
}
#header img{
    width: 800px;
}
footer{
    margin-top: 50px;
}
footer img {
    width: 35px;
    padding: 8px;
    
}
#footerImg{
    width: 250px;
    margin: 0 auto;
}